extends layout

block content

  form(action='./addTask' method='POST' class='form-registration')
    div(class='row my-3')
        div(class='col-md-2 align-bottom')
          label(for="taskName" class='fs-5') New Product
        div(class='col-md-8')
          input(class="form-control form-control-sm" type="text" name='taskName')
        div(class='col-md-2 text-end')
          button(class='btn btn-success btn-sm' type='submit') Add Product


  h5(class='my-2') Products

  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-6 fw-bold') Product name

  each task in currentTasks
    div(class='row mb-2')
      div(class='col-sm-6') #{task.taskName}
